body,
html {
  overscroll-behavior: contain;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#newPatientContainer {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

#drawingToolsContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  display: flex;
}

#editToolsContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  display: flex;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease;
}

button i {
  font-size: 16px;
}

.button-label {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

#newPatientBtn {
  background-color: #4caf50;
  color: white;
  width: auto;
  height: auto;
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

#moveBtn,
#drawBtn {
  background-color: #2196f3;
  color: white;
}

#removeBtn {
  background-color: #f44336;
  color: white;
}

#undoBtn,
#redoBtn {
  background-color: #ff9800;
  color: white;
}

#resetBtn {
  background-color: #f44336;
  color: white;
}

#drawingCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
  transform-origin: 0 0;
}

#customCursor {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: transparent;
  transform: translate(-50%, -50%);
  pointer-events: none;
  left: 50%;
  top: 50%;
  opacity: 0.5;
}

#customCursor::before,
#customCursor::after {
  content: "";
  position: absolute;
  background-color: red;
  opacity: 0.5;
}

#customCursor::before {
  width: 2px;
  height: 20px;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

#customCursor::after {
  width: 20px;
  height: 2px;
  left: -9px;
  top: 50%;
  transform: translateY(-50%);
}

#moveBtn.active,
#drawBtn.active {
  background-color: #1565c0; /* 더 어두운 파란색 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 약간의 그림자 효과 추가 */
}

#removeBtn.active {
  background-color: #d32f2f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 더 어두운 빨간색 */
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
